body {
    background-color: rgb(68,68,68);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div {
    margin: 20px;
    border: rgb(120,120,120) solid 4px;
    padding: 30px;
}

header, footer {
    text-align: center;
}

header {
    padding: 20px;
    border-bottom: rgb(120,120,120) solid 1px;
}